<template>
  <li>
    {{ todo.text }}
    <button @click="$emit('remove', todo.id)">
      Delete
    </button>
  </li>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true
    }
  }
}
</script>